/*main styling*/
html {
  font-size: 16px;
  margin: 0;
}

body {
  line-height: 1.5rem;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

a, p {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

h1, h2, h3, a, p{
  color: #11474D;
  font-family: 'Montserrat', sans-serif;
}

span, h4 {
  font-family: 'Lato', sans-serif;
}

div {
  display: block;
}


/*style header section*/

.desktop-header {
  display: flex;
  height: 4rem;
  background-color: white;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 1;

}

.desktop-header .logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
  flex-grow: 1;

}

.desktop-header nav {
  display: inline;
  margin: 0 auto;
  width: 100%;
  text-align: right;
}

.desktop-header .desktop-nav {
  margin-right: 1.5rem;
}

.desktop-header a:active {
  color: #239CA2;
  font-weight: bold;
}

.desktop-nav a {
  margin-left: 1rem;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 680px) {

  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: flex;
    position: fixed;
    height: 4rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
    background-color: white;
  }

  .mobile-header img {
    margin: 0 1.5rem;
  }
}

/*style banner section*/
.banner-container {
  display: flex;
  background-color: lightgrey;
  flex-direction: row;
  width: 100%;
  margin-top: 4rem;
}

.banner-left {
  flex-basis: 60%;
  padding: 2rem 1.5rem;
}

.banner-left img {
  width: 100%;
  height: auto;
  margin: 0;
}

.banner-right {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-content: center;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 75%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #11474D;
}

.banner-text h1 {
  line-height: 1.8rem;
}

.banner-text h1, p {
  margin-bottom: 2rem;
}

/*style button*/

.start-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 60%;
  border-radius: 0.25rem;
  background-color: #798081;
}

.start-button a {
  color: white;
  font-size: 1.5rem;
}

.start-button a:hover {
  color: #57BDC2;
  transition: 350ms linear 100ms;
}

.start-button:active {
  background-color: #FF5435;
  transition: 450ms linear 0;
}

@media only screen and (max-width: 760px) {
  .banner-right {
    padding-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .banner-container {
    display: flex;
    flex-direction: column;
    margin: 4 0 0 0;
    padding: 0;
  }

  .banner-left {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .banner-left img {
    width: 100%;
    height: auto;
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .banner-right {
    margin: 2rem 1rem 2rem 1rem;
  }

  .start-button {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
}
/*style info section*/

.info-section {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 2rem;
  color: gray;
}

.main-info-left {
  padding: 2rem 1.5rem;
  border-right: 0.1rem solid #FFCD72;
  width: 60%;
}

 .main-image-container img {
  width: 100%;
  height: auto;
}

/*right-side of info section*/

.campus-info {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding: 1rem;
}

.campus-info-item {
  display: flex;
  flex-direction: row; /*because text and image need to stand side-by-side*/
  width: 100%;
  border-bottom: 0.1rem solid #FFCD72;
}

.campus-info-item:hover {
  background-color: #7FD2D6;
  transition: 450ms ease 100ms;
}

.info-img-container {
  width: 35%;
  padding: 1rem;
}

.mobile {
  display: none;
}

.campus-info-item img {
  width: 100%;
  height: auto;
}

.desktop {
  display: block;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.info-text h3 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.info-text span {
  padding: 0.5rem 0;
}

@media only screen and (max-width: 700px) {
  .main-info-left {
    display: none;
  }
  .info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .campus-info {
    display: block;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
  }
  .mobile {
    display: block;
    width: 100%;
    padding: 1rem;
  }
  .mobile img {
    display: flex;
    width: 100%;
    height: auto;
  }
  .desktop {
    display: none;
  }
  .campus-info-item {
    border: none;
  }
  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }
}

/*courses section styling*/
.courses-section {
  width: 100%;
  background-color: lightgray;
}

.course-links-mobile {
  display: none;
}

.courses-section h2 {
  text-align: center;
  padding: 2rem;
}

.cs-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.cs-box {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  padding-bottom: 1.5rem;
  width: 26%;
  background-color: white;
  padding-bottom: 1rem;
}

.cs-img-box {
  width: 100%;
  height: auto;
}

.cs-img-box img {
  width: 100%;
  height: auto;
}

.cs-box span {
  color: #06939A;
}
.cs-box h3, span, p {
  padding: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .cs-img-box {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .desktop {
    display: none;
  }

  .cs-container {
    width: 100%;
    background-color: white;
  }

  .cs-container h2 {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-top: 0.05rem solid lightgray;
  }

  .course-links-mobile {
    display: block;
    padding: 1rem auto 2rem 1rem;
  }

  .cs-link-box {
    background-color: lightgray;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;

  }

  .cs-link-box h3 {
    padding: 1rem 0 1.5rem 1rem;
    margin: 0;
  }

}

/*thesis/video section styling*/
.thesis-section {
  background-color: white;
  width: 100%;
  border-bottom: 0.02rem solid lightgray;
}

.thesis-section h1 {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.thesis-container {
  display: flex;
  flex-direction: row;
}

.video-container {
  width: 60%;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.video-container video {
  width: 100%;
}

.thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-item {
  display: flex;
  flex-direction: row;
}

.thesis-item:hover {
  background-color: #7FD2D6;
}

#fisma {
  background-color: #FFDA97;
}

.thesis-img-container {
  width: 35%;
  padding: 1rem;
}

.thesis-item img {
  width: 100%;
  height: auto;
}

.thesis-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.thesis-text h3 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.thesis-text span {
  padding: 0.5rem 0;
  color: #06939A;
}

@media only screen and (max-width:720px){
  .thesis-right {
    display: none;
  }

  .video-container {
    width: 100%;
    height: auto;
  }

  .thesis-section h2 {
    margin: 2rem auto 1rem auto;
    border-top: 0.05rem solid lightgray;
  }
}


/*footer section styling*/

footer {
  display: flex;
  color: lightgray;
  justify-content: space-between;
  padding: 1rem 1.5rem;

}

footer a {
  transition: all 0 ease 0;
}

#links a:hover {
  color: lightblue;
}

#links a:active {
  font-weight: 800;
}

@media only screen and (max-width: 640px){
  #links {
    display: none;
  }
}
